.r-head {
  margin-bottom: 2rem;
}
.paddings {
  padding: 1.5rem;
}
.innerWidth {
  width: 100%;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}
.orangeText {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
}
.primaryText {
  color: #1f3e72;
  font-weight: bold;
  font-size: 2rem;
}
